{% extends "home/HomePage.html" %}
{% block content %}
    <h1>Comments</h1>
    <table>
    <tr>
        <th>Comment</th>
        <th class="number">Entries</th>
        <th class="date">Last used</th>
    </tr>
    {% for comment in comments %}
    <tr>
        <td><span class="comment">{{ comment.text }}</span></td>
        <td class="number"><a href="{{ url_for ('dashboard.entries',comment=comment.text) }}"><span>{{ comment.n_entries }}</span></a></td>
        <td class="date">{{ comment.latest}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
