{% extends "home/HomePage.html" %}
{% block header %}
<script type="text/javascript">

function load ()
{
    $.ajax({
        type: 'GET',
        url: "{{ url_for('dashboard.load_comments') }}",
        success: function (data, status)
        {
            $("#comments").show ();

            for (var i = 0; i < data.comments.length; i++)
            {
                var comment = data.comments [i];

                var html = "<tr>";
                html += "<td><span class=\"comment\">" + comment.text + "</span></td>";
                html += "<td class=\"number\">" +
                        "<a href=\"{{ url_for ('dashboard.entries',comment=TTTTTT) }}\">".replace ("TTTTTT", comment.text) +
                        "<span>" + comment.n_entries + "</span></a></td>";
                html += "<td class=\"date\">" + comment.latest + "</td>";
                html += "</tr>";

                $("#comments-table").append (html);
            }

            $("#loading-comments").hide ();
        }
    });
}

load ();

</script>
{% endblock %}
{% block content %}
<div id="comments" style="display:none">
    <h1>Comments</h1>
    <table id="comments-table">
    <tr>
        <th>Comment</th>
        <th class="number">Entries</th>
        <th class="date">Last used</th>
    </tr>
    </table>
</div>
<div id="loading-comments"><img alt="Loading..." src="{{ url_for('static', filename='image/indicator.gif') }}"></div>
{% endblock %}
