ul.legend {
	float:right;
	width:150px;}
ul.legend li {
	list-style:square;
	padding-left:0px;
	font-size:16px;
}
ul.legend span {float:right;}

.valid {color: #0070b8;}
.obsolete {color: #b80000;}

.annotated {color: #00b870;}
.unannotated {color: yellow;}

.present, .missing{
	margin-bottom:10px;
	text-decoration: overline;}
