/* New style menu */

#menu {
	font-family: Verdana, sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 150px;
	color: white;
	background: #25641d;
	padding: 5px;
	height: 100%;
}

#menu ul {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 8px;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

/* Errors */

#errors {
	font-family: Verdana, sans-serif;
	position: relative;
	margin-left: 160px;
	min-width: 400px;
	
	border-style: solid;
	border-width: 1px;
	border-color: #c00;
	background-color: #fcc;
	text-align:left;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Top */

#top {
	font-family: Verdana, sans-serif;
	position: relative;
	margin-left: 160px;
	min-width: 400px;
	
	background-color: #686;
	color: white;
	
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	text-align:left;
	margin-top: 5px;
	margin-bottom: 5px;
}

#top .submit {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: #779;
	color: white;
	border: solid 1px #666;
	margin: 2px;
	font-size: 10pt;
}

/* Data part of window */

#main {
	font-family: Verdana, sans-serif;
	position: relative;
	margin-left: 160px;
	min-width: 400px;
}

/* Other stuff */

#PDBID {
	font-family: courier;
}

caption
{
	caption-side:bottom;
	font-size: 75%;
	text-align: left;
}

table {
	border-collapse: separate;
	border-spacing: 0px;
	empty-cells: show;
}

th {
	text-align: left;
	background-color: #C8E1C4;}

td.correct {
	color: #33CC33;
}

td.incorrect {
	color: #CC3333;
}
	
img {
	border: none;
}