{% extends "home/HomePage.html" %}

{% set show_max_entries_per_comment = 100 %}
{% set items_per_page = 2000 %}
{% set num_pages = {'entries' : ((( entries | length | float) / items_per_page) | round(0, 'ceil')) | int,
                    'pdbids' : ((( entries | length | float) / items_per_page) | round(0, 'ceil')) | int,
                    'files' : ((( files | length | float) / items_per_page) | round(0, 'ceil')) | int} %}

{% macro page_browser (identifier, length, items_per_page) %}
<div id="browse-{{ identifier }}">
    <span class="first" title="Go to first page"><em>&lt;&lt;</em></span>
    <span class="prev" title="Go to previous page"><em>&lt;</em></span>

    {% for page_index in range( num_pages [identifier] ) %}
    <span class="goto goto-{{ page_index + 1 }}" title="Go to page {{ page_index + 1 }}">
    {% if page_index == 0 %}
        <em><span>1</span></em>
    {% else %}
        <a href="#" onclick="setPage('{{ identifier }}',{{ page_index }});"><span>{{ page_index + 1 }}</span></a>
    {% endif %}
    </span>
    {% endfor %}

    <span class="next" title="Go to next page">
    {% if num_pages [identifier] > 1 %}
        <a href="#" onclick="setPage('{{ identifier }}', 1);">&gt;</a>
    {% else %}
        <em>&gt;</em>
    {% endif %}
    </span>
    <span class="last" title="Go to last page">
    {% if num_pages [identifier] > 0 %}
        <a href="#" onclick="setPage ('{{ identifier }}', {{ num_pages [identifier] - 1}});">&gt;&gt;</a>
    {% else %}
        <em>&gt;&gt;</em>
    {% endif %}
    </span>
</div>
{% endmacro %}

{% macro comment_trees (dict,depth) %}

{% for text, node in dict.iteritems () %}
<div class="tree-branch tree-branch-mid">
    {% set comment_id = '%i_%i' % (depth, loop.index) %}
    <div class="tree-node">

        {% if node.subtree|length > 0 %}
        <a id="tree-junction-{{ comment_id }}" class="tree-junction-collapsed" onclick="toggleTree ('{{ comment_id }}');">&nbsp;</a>
        {% endif %}

        <span class="tree-content">
            {{ comment_tree_node (text, node.list_entries (), comment_id ) }}
        </span>
    </div>
    {% if node.subtree|length > 0 %}
    <div id="tree-subtree-{{ comment_id }}" class="tree-subtree" style="display:none;">
        {{ comment_trees (node.subtree, depth + 1) }}
    </div>
    {% endif %}
</div>
{% endfor %}

{% endmacro %}

{% macro comment_tree_node (text, entries, comment_id) %}

    <h1>{{ text }} ({{ entries|length }})</h1>
    <div style="font-family:monospace;">
        {% if entries|length > show_max_entries_per_comment %}
            <p id="comments-{{ comment_id }}">
            {% for i in range (show_max_entries_per_comment) %}{{ entries [i] }}
            {% endfor %}
            </p>
            <p id="more-comments-{{ comment_id }}" style="display:none;">
            {% for line in entries %}{{ line }}
            {% endfor %}
            </p>
            <a id="more-{{ comment_id }}" onclick="toggleMoreComments ('{{ comment_id }}');"><span>&lt;more&gt;</span></a>
        {% else %}
            <p>
            {% for line in entries %}{{ line }}
            {% endfor %}
            </p>
        {% endif %}
    </div>
{% endmacro %}

{% block header %}
    <link href="{{ url_for('static', filename='tabs.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='tree.css') }}" rel="stylesheet" />

    <style>
        a[id^='more-']:hover {
            cursor:pointer;
        }
    </style>

    <script type="text/javascript">

    var morecomments_visible = {};

    function toggleTree (comment_id)
    {
        if ($('#tree-junction-' + comment_id).prop ('class') == 'tree-junction-expanded')
        {
            $('#tree-junction-' + comment_id).prop ('class', 'tree-junction-collapsed');
            $('#tree-subtree-' + comment_id).hide ();
        }
        else
        {
            $('#tree-junction-' + comment_id).prop ('class', 'tree-junction-expanded');
            $('#tree-subtree-' + comment_id).show ();
        }
    }

    function toggleMoreComments (comment_id)
    {
        if (morecomments_visible [comment_id] === undefined)
            morecomments_visible [comment_id] = false;

        morecomments_visible [comment_id] = !morecomments_visible [comment_id];
        if (morecomments_visible [comment_id])
        {
            $('#more-comments-'+comment_id).show();
            $('#comments-'+comment_id).hide();
            $('#more-'+comment_id+" > span").text ("<less>");
        }
        else
        {
            $('#more-comments-'+comment_id).hide();
            $('#comments-'+comment_id).show();
            $('#more-'+comment_id+" > span").text ("<more>");
        }
    }

    function selectTab (id)
    {
        $('.selector').removeClass ("selected");
        $('#select-' + id).addClass ("selected");
        $('.tab-panel').hide();
        $('#' + id).show();
    }

    function disableBrowseButtons (selection)
    {
        $(selection).each (function (i) {
            $(this).replaceWith ('<em>' + $(this).html() + '</em>');
        });
    }

    function enableBrowseButtons (selection, tab, nr)
    {
        $(selection).each (function (i) {
            $(this).replaceWith ('<a href=\"#\" onclick=\"setPage(\'' + tab + '\', ' + nr + ');\">' + $(this).html() + '</a>');
        });
    }

    var page_index = {'entries':0, 'files':0, 'pdbids':0},
        max_length = {'entries':{{ num_pages ['entries'] }}, 'files':{{ num_pages['files'] }}, 'pdbids':{{ num_pages ['entries'] }}};

    function setPage (tab, index)
    {
        $('.' + tab + '-page').hide();
        $('#' + tab + '-page-' + index).show();

        // enable current:
        enableBrowseButtons ('#browse-' + tab + ' > .goto-' + (page_index [tab] + 1) + ' > *', tab, page_index [tab]);

        page_index [tab] = index;

        // disable new
        disableBrowseButtons ('#browse-' + tab + ' > .goto-' + (index + 1) + ' > *');

        // if this is the first, then prev and first will be disabled, else enabled
        if (index == 0)
        {
            disableBrowseButtons ('#browse-' + tab + ' > .first > *');
            disableBrowseButtons ('#browse-' + tab + ' > .prev > *');
        }
        else
        {
            enableBrowseButtons ('#browse-' + tab + ' > .first > *', tab, 0);
            enableBrowseButtons ('#browse-' + tab + ' > .prev > *', tab, index - 1);
        }

        // if this is the last, then next and last will be disabled, else enabled
        if ((index + 1) == max_length [tab])
        {
            disableBrowseButtons ('#browse-' + tab + ' > .last > *');
            disableBrowseButtons ('#browse-' + tab + ' > .next > *');
        }
        else
        {
            enableBrowseButtons ('#browse-' + tab + ' > .next > *', tab, index + 1);
            enableBrowseButtons ('#browse-' + tab + ' > .last > *', tab, max_length [tab] - 1);
        }
    }
    </script>
{% endblock %}
{% block content %}
    <h1>{{ source }} ({{ entries|length }})</h1>
    <span>
        <div class="tab-row">
            <ul>
                <li id="select-pdbids" class="selector selected">
                    <a href="#" onclick="selectTab('pdbids');"><span>PDBIDs</span></a>
                </li>
                <li id="select-entries" class="selector">
                    <a href="#" onclick="selectTab('entries');"><span>Entries</span></a>
                </li>
                <li id="select-files" class="selector">
                    <a href="#" onclick="selectTab('files');"><span>Files</span></a>
                </li>
                <li id="select-comments" class="selector">
                    <a href="#" onclick="selectTab('comments');"><span>Comments</span></a>
                </li>
            </ul>
        </div>
        <div id="pdbids" class="tab-panel">
            <a href="{{ url_for('dashboard.list', listing='PDBIDs', databank=databank_name, collection=collection) }}" class="download">Download as file</a>
            {% if entries|length > 0 %}<h1>Unique PDBIDs ({{ entries|length }})</h1>{% endif %}
            {{ page_browser ('pdbids', entries|length, 2000) }}

            {% for page_index in range( num_pages ['pdbids'] ) %}
            <p class="pdbids-page" id="pdbids-page-{{ page_index }}" style="font-family:monospace;{% if page_index > 0 %}display:none{% endif %}">
                {% for i in range (page_index * items_per_page, (page_index + 1) * items_per_page) %}
                {% if i < (entries | length) %}
                {{ entries [i].pdbid }}
                {% endif %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <div id="entries" class="tab-panel" style="display:none;" >
            <a href="{{ url_for('dashboard.list', listing='entries', databank=databank_name, collection=collection) }}" class="download">Download as file</a>
            {% if entries|length > 0 %}<h1>Entries ({{ entries|length }})</h1>{% endif %}
            {{ page_browser ('entries', entries|length, 2000) }}

            {% for page_index in range( num_pages ['entries'] ) %}
            <p class="entries-page" id="entries-page-{{ page_index }}" style="font-family:monospace;{% if page_index > 0 %}display:none{% endif %}">
                {% for i in range (page_index * items_per_page, (page_index + 1) * items_per_page) %}
                {% if i < (entries | length) %}
                {{ "%s,%s" % (entries[i].databank_name,entries[i].pdbid) }}
                {% endif %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <div id="files" class="tab-panel" style="display:none;" >
            <a href="{{ url_for('dashboard.list', listing='files', databank=databank_name, collection=collection) }}" class="download">Download as file</a>
            {% if files|length > 0 %}<h1>Files ({{ files|length }})</h1>{% endif %}
            {{ page_browser ('files', files|length, 2000) }}

            {% for page_index in range( num_pages ['files'] ) %}
            <p class="files-page" id="files-page-{{ page_index }}" style="font-family:monospace;{% if page_index > 0 %}display:none{% endif %}">
                {% for i in range (page_index * items_per_page, (page_index + 1) * items_per_page) %}
                {% if i < (files | length) %}
                    <a href="{{ files[i].url }}" class="file">{{ files[i].name }}</a>
                {% endif %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <div id="comments" class="tab-panel" style="display:none;" >
            <a href="{{ url_for('dashboard.list', listing='comments', databank=databank_name, collection=collection) }}" class="download">Download as file</a>

            <div class="tree-theme-human">
                <div>
                    {{ comment_trees (comments, 0) }}
                </div>
            </div>
        </div>
    </span>
{% endblock %}
