* {
	border:0;
	margin:0;
	padding:0;
}
.left {
	float:left;
	padding:0 10px 0 0;
}
.right {
	float:right;
	padding:0 0 0 10px;
}
a {
	color:#01a5ec;
	text-decoration:none;
}
a:hover {
	color:#666;
	text-decoration:underline;
}
p {
	padding:0 0 10px;
}
table {
	width:100%;
	font:12px "Trebuchet ms", Helvetica, sans-serif;
}
th {
	text-align:left;
}
td {
	padding-bottom:5px;
	padding-right:5px;
}
td.number {
	text-align:right;
}
td.date {
	text-align:right;
	white-space:nowrap;
}
li { 
	list-style:none;
	padding-left:15px;
}
.download:before {content: url('image/page_white_put.png');}

/* body */
body {
	background:#0070b8 url('image/background_wide.jpg') center repeat-y;
	color:#666;
	font:12px "Trebuchet ms", Helvetica, sans-serif;
}

/* header */
#header {
	background:#0070b8 url('image/background_header.jpg') center no-repeat;
	height:100px;
	margin:0 auto;
	width:548px;
}
	#header h1 {
		display:block;
		font:36px "Trebuchet MS",Verdana,sans-serif;
		padding:50px 0 0 25px;
	}
		#header h1 a {
			color:#fff;
		}
		#header h1 span {
			color:#01a5ec;
		}

/* content */
#content {
	margin:0 auto;
	width:700px;
}
	#content h1 {
		color:#01a5ec;
		font:23px Verdana,sans-serif;
		margin:15px 0 5px 0;
	}

#main {
	float:left;
	padding:5px 10px 0 15px;
	width:485px;
}

#sidebar {
	width:160px;
	float:right;
	padding:15px;
}
	#sidebar .navigation li {
		list-style:none;
		border-bottom:1px solid #ddd;
		display:block;
		padding:9px 5px;
		width:150px;
	}
		#sidebar .navigation li a {
			color:#4e4b44;
		}
		#sidebar .navigation li a:hover {
			color:#666;
		}
		#sidebar .navigation li em {
			color:#333;
			font-weight:bold;
		}
	#sidebar h1 {
		color:#908a7e;
		font:18px "Trebuchet MS",Verdana,sans-serif;
		margin:15px 0 5px 0;
	}
	#sidebar input {
		width:160px;
		border:1px solid gray;
	}

/* footer */
#footer {
	background:#0070b8 url('image/background_footer.jpg') center no-repeat;
	clear:both;
	height:50px;
	margin:0 auto;
	text-align:center;
	width:548px;
	bottom: 50px;
}
#footer p {
	color:#666;
	line-height:18px;
	padding:7px 0 0
}