@CHARSET "ISO-8859-1";

body {
	font: 100.1%/ 1 Verdana, Arial, Helvetica, sans-serif;
}

#container {
	margin: 0 auto;
	width: 1000px;
	background: red;
}

#header {
	background: green;
}

#content {
	background: blue;
}

#columna {
	background: yellow;
	width: 500px;
	float: left;
}

#columnb {
	background: orange;
	width: 500px;
	float: right;
}