* {
	border:0;
	margin:0;
	padding:0;
}
a {
	color:#01a5ec;
	text-decoration:none;
}
a:hover {
	color:#666;
	text-decoration:underline;
}
p {
	padding-bottom:10px;
}
table{
	width:100%;
}

.left {
	float:left;
}
.right {
	float:right;
}
/* body */
body {
	background:#0070b8 url('image/background_body.jpg') center repeat-y;
	color:#666;
	font:12px "Trebuchet ms", Helvetica, sans-serif;
}

/* header */
#header {
	background:#0070b8 url('image/background_header.jpg') center no-repeat;
	height:100px;
	margin:0 auto;
	width:548px;
	text-align:center;
}
#header h1 {
	color:#fff;
	display:block;
	font:36px "Trebuchet MS",Verdana,sans-serif;
	padding:15px 0 0 0;
}
#header h1 span {
	color:#01a5ec;
}
#header input {
	margin-top: 15px;
}

/* content */
#content {
	margin:0 auto;
	padding-top:5px;
	width:800px;
}
#content h1 {
	color:#01a5ec;
	font:23px Verdana,sans-serif;
	margin:15px 0 5px 0;
}
#content li {
	list-style:none;
	margin:8px 0 0;
}

/* column */
div.column {
	width:380px;
	padding: 0 10px 0 10px;
}

/* footer */
#footer {
	background:#0070b8 url('image/background_footer.jpg') center no-repeat;
	clear:both;
	height:50px;
	margin:0 auto;
	text-align:center;
	width:548px;
}
#footer p {
	color:#666;
	line-height:18px;
	padding:7px 0 0
}