<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost/whynot</property>
        <property name="connection.username">whynotadmin</property>
        <property name="connection.password">pass</property>

<!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">2</property>
<!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
<!-- Enable Hibernate's current session context -->
<!--<property name="current_session_context_class">org.hibernate.context.ManagedSessionContext</property>-->
        <property name="current_session_context_class">thread</property>
<!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
<!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create</property>
		
	
		<mapping package="model"/>
		<mapping class="model.Author"/>
		<mapping class="model.Comment"/>
		<mapping class="model.Database"/>
		<mapping class="model.EntryPK"/>
		<mapping class="model.Entry"/>
		<mapping class="model.EntryFile"/>
<!--
        <mapping package="test.animals"/>
		<mapping class="test.Flight"/>
		<mapping class="test.Sky"/>
		<mapping class="test.Person"/>
		<mapping class="test.animals.Dog"/>
		<mapping resource="test/animals/orm.xml"/>
        <mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/>
        <mapping resource="org/hibernate/tutorial/domain/Person.hbm.xml"/>
-->
    </session-factory>
</hibernate-configuration>
