{% extends "base.html" %}

{% block header %}
  <link href="{{ url_for('static', filename='databank.css') }}" rel="stylesheet" />

  <script type="text/javascript">

  function piechart (counts)
  {
      var total = counts ['present'] + counts ['missing'],

          angle = 0.0,
          radius = 100.0,
          cx = 110.0, cy = 110.0,

          svg = "<div style=\"width:240px\"><svg width=\"220\" height=\"220\">",

          collections = ['valid', 'obsolete', 'annotated', 'unannotated'];

      if (total > 0)
      {
          for (var i in collections)
          {
              var collection = collections [i],
                  part = counts [collection] / total,
                  angleStart = angle,
                  angleEnd = angle + part * 2 * Math.PI,

                  xStart = cx + radius * Math.sin (angleStart),
                  xEnd = cx +  radius * Math.sin (angleEnd),

                  yStart = cy - radius * Math.cos (angleStart),
                  yEnd = cy - radius * Math.cos (angleEnd),

                  large_arc = (part > 0.5)? 1: 0,

                  path = "", tag = "",

                  param = "stroke=\"none\" class=\"" + collection + "\"";

                  angle = angleEnd,

                  title = collection + " (" + counts [collection] + ", " + (100 * part).toFixed (0) + "%)";

              if (part >= 1.0)
              {
                  tag = "<circle cx=\"" + cx + "\" cy=\"" + cy + "\" r=\"" + radius + "\" " + param + ">"
                        + "<title>" + title + "</title></circle>";
              }
              else if (part <= 0.0)
              {
                  continue;
              }
              else
              {
                  path += "M " + cx + "," + cy + " L " + xStart + "," + yStart + " ";
                  path += "A " + radius + "," + radius + " 0 " + large_arc + " 1 " + xEnd + "," + yEnd + " ";
                  path += "Z"; // close at center

                  tag = "<path d=\"" + path + "\"" + param + ">"
                        + "<title>" + title + "</title></path>";
              }
              svg += tag;
          }
      }
      svg += "<circle cx=\"" + cx + "\" cy=\"" + cy + "\" r=\"" + radius + "\" stroke=\"black\" stroke-width=\"1\" fill=\"none\" />";
      svg += "The pie-chart cannot be shown because this browser doesn't support inline svg</svg></div>";

      return svg;
  }

  function load_legend(databank_name) {
      if (!window.XMLHttpRequest) {
          alert ("This browser does not support Ajax, so this page cannot load fully!");
          return;
      }

      var x = new XMLHttpRequest();
      x.open ("GET", "{{ url_for('frontend.count', databank_name='DDDDDD') }}".replace("DDDDDD", databank_name), true);
      x.onreadystatechange = function() {
          if (x.readyState != 4)
              return

          if (x.status == 200) {
              var html = "<ul class=\"legend\">";
              var collections = ['valid', 'obsolete', 'present', 'annotated', 'unannotated', 'missing'];
              var counts = JSON.parse (x.responseText);

              for (var i in collections)
              {
                  var collection = collections [i],
                      count = counts [collection];

                  html += "<li class=\"" + collection + "\">";

                  html += "<a href=\"{{ url_for('frontend.resources', tolist='LLLLLL') }}\"><img src=\"{{ url_for('static', filename='image/page_white_go.png') }}\"></a>"
                          .replace("LLLLLL", databank_name + '_' + collection.toUpperCase());

                  html += "<a href=\"{{ url_for('frontend.entries', databank='DDDDDD', collection='CCCCCC') }}\">"
                          .replace ("DDDDDD", databank_name)
                          .replace ("CCCCCC", collection)
                          + "<span class=\"count\">" + count + "</span><span>" + collection + "</span></a>";

                  html += "</li>";
              }

              html += "</ul>" + piechart(counts);

              document.getElementById("display-" + databank_name).innerHTML = html;

              // Completely remove the loading tag
              var loadingtag = document.getElementById("loading-" + databank_name);
              loadingtag.parentNode.removeChild (loadingtag);
          }
          else if (x.status == 502 || x.status == 503 || x.status == 504)
          {
              // random glitch, retry
              load_legend(databank_name);
          }
      }
      x.send();
  }

  {% for databank in databanks %}
  load_legend ("{{ databank['name'] }}");
  {% endfor %}

  </script>
{% endblock %}

{% block content %}
{% for databank in databanks %}
<div style="clear:both;">
    <h1>{{ databank['name'] }}</h1>
    <div id="display-{{ databank['name'] }}"></div>
    <div id="loading-{{ databank['name'] }}"><img alt="Loading..." src="{{ url_for('static', filename='image/indicator.gif') }}"></div>
    <a href="{{ databank['reference'] }}"><span>{{ databank['reference'] }}</span></a>
</div>
{% endfor %}
{% endblock %}
