{% extends "home/HomePage.html" %}
{% block header %}
<script type="text/javascript">
function load ()
{
    if (!window.XMLHttpRequest)
    {
        alert ("Your browser does not support Ajax, so this page cannot load fully!");
        return;
    }

    var x = new XMLHttpRequest ();
    x.open ("GET", "{{ url_for('dashboard.load_statistics') }}", true);
    x.onreadystatechange = function()
    {
        if (x.readyState != 4)
            return

        if (x.status == 200)
        {
            var statistics = JSON.parse (x.responseText);

            document.getElementById ("total_databanks").innerHTML = statistics.total_databanks;
            document.getElementById ("total_entries").innerHTML = statistics.total_entries;
            document.getElementById ("total_files").innerHTML = statistics.total_files;
            document.getElementById ("total_annotations").innerHTML = statistics.total_annotations;
            document.getElementById ("total_comments").innerHTML = statistics.total_comments;

            var htmlAnnotations = "";
            for (var i = 0; i < statistics.annotations.length; i++)
            {
                var annotation = statistics.annotations [i];

                htmlAnnotations += "<tr>";
                htmlAnnotations += "<td>" + annotation.comment + "</td>";
                htmlAnnotations += "<td><span>" + annotation.databank_name + "</span>,<span>" + annotation.pdb_id + "</span></td>";
                htmlAnnotations += "<td>" + annotation.date + "</td>";
                htmlAnnotations += "</tr>";
            }
            document.getElementById ("annotations").innerHTML = htmlAnnotations;

            var htmlFiles = "";
            for (var i = 0; i < statistics.files.length; i++)
            {
                var file = statistics.files [i];

                htmlFiles += "<tr>";
                htmlFiles += "<td>" + file.path + "</td>";
                htmlFiles += "<td>" + file.date + "</td>";
                htmlFiles += "</tr>";
            }
            document.getElementById ("files").innerHTML = htmlFiles;

            document.getElementById ("statistics").style.display = "block";

            // Completely remove the loading tag
            var loadingtag = document.getElementById ("loading-statistics");
            loadingtag.parentNode.removeChild (loadingtag);
        }
    }
    x.send ();
/*
    .ajax({
    timeout: 0, // unlimited
        type: 'GET',
        url: "{{ url_for('dashboard.load_statistics') }}",
        success: function (statistics, status)
        {
            $("#total_databanks").text (statistics.total_databanks);
            $("#total_entries").text (statistics.total_entries);
            $("#total_files").text (statistics.total_files);
            $("#total_annotations").text (statistics.total_annotations);
            $("#total_comments").text (statistics.total_comments);

            var htmlAnnotations = "";
            for (var i = 0; i < statistics.annotations.length; i++)
            {
                var annotation = statistics.annotations [i];

                htmlAnnotations += "<tr>";
                htmlAnnotations += "<td>" + annotation.comment + "</td>";
                htmlAnnotations += "<td><span>" + annotation.databank_name + "</span>,<span>" + annotation.pdb_id + "</span></td>";
                htmlAnnotations += "<td>" + annotation.date + "</td>";
                htmlAnnotations += "</tr>";
            }
            $("#annotations").html (htmlAnnotations);

            var htmlFiles = "";
            for (var i = 0; i < statistics.files.length; i++)
            {
                var file = statistics.files [i];

                htmlFiles += "<tr>";
                htmlFiles += "<td>" + file.path + "</td>";
                htmlFiles += "<td>" + file.date + "</td>";
                htmlFiles += "</tr>";
            }
            $("#files").html (htmlFiles);

            $("#statistics").show ();
            $("#loading-statistics").hide ();
        }
    });
*/
}

load ();
</script>
{% endblock %}
{% block content %}
<div id="statistics" style="display:none">
   <h1>Statistics</h1>
   <table>
   <tr><td id="total_databanks" class="number"></td><td>databanks, containing</td></tr>
   <tr><td id="total_entries" class="number"></td><td>entries, based on</td></tr>
   <tr><td id="total_files" class="number"></td><td>files and </td></tr>
   <tr><td id="total_annotations" class="number"></td><td>annotations, for</td></tr>
   <tr><td id="total_comments" class="number"></td><td>comments</td></tr>
   </table>

   <h1>Most recent annotations</h1>
   <table id="annotations">
   </table>

   <h1>Most recent files</h1>
   <table id="files">
   </table>
   <p></p>
</div>
<div id="loading-statistics"><img alt="Loading..." src="{{ url_for('static', filename='image/indicator.gif') }}"></div>
{% endblock %}
