<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Struts Blank</display-name>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>
			nl.ru.cmbi.whynot.all.ApplicationListener
		</listener-class>
	</listener>

	<env-entry>
		<description>The whynot databank host</description>
		<env-entry-name>whynot-db-host</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>127.0.0.1</env-entry-value>
<!--	<env-entry-value>131.174.88.34</env-entry-value>-->
	</env-entry>

	<env-entry>
		<description>The whynot databank port</description>
		<env-entry-name>whynot-db-port</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>5432</env-entry-value>
	</env-entry>

	<env-entry>
		<description>The whynot databank user</description>
		<env-entry-name>whynot-db-user</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>postgres</env-entry-value>
	</env-entry>

	<env-entry>
		<description>The whynot databank pass</description>
		<env-entry-name>whynot-db-pass</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>password</env-entry-value>
	</env-entry>


</web-app>
